* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}





h1{
    color: #000000;
    font-size: 50 px;
    font-family: sans-serif;
}


header{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/wel.jpg);
    background-image:  url(img/wel.jpg);
    background-size: cover;
    background-position: top;
    height: 98vh;
    background-attachment: fixed;
}





/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 20px 70px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 100px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #000000;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}


.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: rgb(248, 165, 8);
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #fffdfc;
}


.hero-text-box {
    position: absolute;
    width: 1140px;
    top:60%;
    left: 60%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.row{
    text-align: center;
    line-height: 650px;
    
}

/* ----------------------------------------------- */
/* FORM */
/* ----------------------------------------------- */
.contact-form {
    width: 70%;
    margin: 0;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

*:focus {outline: none;}


/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}
